In [ ]:
Q1 = "Anjali's Assignment 1"
Q2 = [2, 6, 1, 2]
Q3 = 26.12
Q4 = (26, 12, 23, 8)

In [ ]:
#(i) var1 ==> STRING
#(ii) var2 = ‘[ DS , ML , Python]’==> STRING
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]==> LIST
#(iv) var4 = 1. ==> FLOAT***

In [1]:
#/ OPERATOR IS THE DIVISION OPERATOR. IT RETURNS THE QUOTIENT OF THE 2 NUMBERS AS A FLOAT.

div = 12/4
print(div)

3.0

In [4]:
#% OPERATOR IS THE MODULO OPERATOR. IT RETURNS THE REMAINDER OF THE 2 NUMBERS
mod = 26%12
print(mod)

2

In [9]:
#// operator is the floor division operator which returns the quotient of the 2 numbers but as an integer which is rounded down to the nearest whole number

flrd = 35//6
print(flrd)

5

In [12]:
#** operator is teh exponential operator which is raising first number to the power of second as in-

power = 8**3
print(power)

#here, it will raise 8 to the power of 3 meaning = 8*8*8

512

In [3]:
#Q4
list = [1, 3.9, "hey", True]
for i in list:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [7]:
#Q5
A = 36
B = 2

c = 0
while A%B == 0:
    print('PURELY DIVISIBLE')
    c = c + 1
    A= A//B
    
print( 'A IS PURELY DIVISIBLE BY BY B', c, 'times')

PURELY DIVISIBLE
PURELY DIVISIBLE
A IS PURELY DIVISIBLE BY BY B 2 times

In [2]:
#Q6
list = [1, 2,3,4,5,6,7,8,9, 10,11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,22,23,24,25]
for i in list:
    if i%3 == 0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [7]:
#Q7

#mutable data types are those that can be changed after creation. eg-
#list

list = [2, 3, 0 , 8]
list[1] = 1
print(list)

[2, 1, 0, 8]

In [8]:
#Q7

#immutable data types are the ones that cannot be modified or changed after creation. eg-
#tuple. HERE THE ELEMENT AT 2 WILL NOT BE REPLACED, HENCE tuple will not be changed.
tuple = (1, 8, 0, 1)
tuple[2] = 2
print(tuple)

TypeError: 'tuple' object does not support item assignment